*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body a{
    color: #39403e;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    min-width: 325px;
    width: 100%;
    height: auto;
    margin: 0px 70px;
}
header{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background: #DEEBE8;
}
.header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header2{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.header3{
    width: 550px;
    height: 30px;
}
.header3>ul{
    width: 550px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.header3>ul>li{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #39403ec4;
    cursor: pointer;
}
.logotip{
    width: 400px;
    height: 30px;
    display: flex;
}
.logo{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #3A685B;
}
.tiger{
    width: 100%;
    height: auto;
}
.contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contents2{
    min-width: 460px;
    min-height: 440px;
}
.contentimg{
    width: 460px;
    height: 440px;
    background: url(../images/Rectangle1.png);
    margin-bottom: 80px;
    margin-top: 80px;
}
.post{
    width: 500px;
    cursor:default;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    color: #ffffffcf;
}
.conteiner{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.hystory{
    width: 100%;

}
.hystoryauto{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 60px 0;
}
.hey{
    height: 50px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #3A685B;
}
.hey2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.one{
    width: 100%;
    height: 88.47px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.two{
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.btn2{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn3{
    width: 280px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B55038;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #39403ec4;
    cursor: pointer;
    text-decoration: none;
}
.tigt{
    width: 100%;
    height: 53px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #3A685B;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 70px;
}
.tigte{
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #3A685B;
}
.img{
    width: 280px;
    height: 180px;
    background: url(../images/Rectangle9.png)
}
.img2{
    width: 264px;
    height: 190px;
    background: url(../images/Rectangle7.png)
}
.img3{
    width: 280px;
    height: 180px;
    background: url(../images/Rectangle10.png)
}
.nkar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
}
.type{
    width: 280px;
    height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    text-align: center;
    color: #000000;
    align-items: center;
    justify-content: center;
}
.buton{
    width: 280px;
    height: 60px;
    border: 1px solid #B55038;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #39403ec4;
    text-decoration: none;
}
.buton:hover {
    transition: 0.3s;
    color: white;
}

.section1{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background: linear-gradient(283.61deg, #2B3D38 3.27%, #3A685B 99.25%);
}
.section2{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.section3{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #F0F5F4;;
}
.nkarner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}
footer{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: flex-end;
    background-color: #DEEBE8;
    justify-content: center;
    margin-top: 130px;
}
.futer{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header3-2{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}
.media{
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B55038;
    margin-right: 53px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 53px;
    margin-top: 35px;
    cursor: pointer;
    text-decoration: none;
}
.media:hover{
    background: white;
    color: black;
    border: 1px solid #e55a44;
    transition: 1s;
}
.btn3:hover{
    background: #B55038;
    color: #ffffff;
    transition: 1s;
}
.buton:hover{
    background: #B55038;
    transition: 1s;
}
.tigri{
    width: 100%;
    height: 100px;
    cursor: default;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 35px;
}
#con{
    flex-direction: column;
    align-items: flex-start
}
/*************************************************************/
.containerse {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family:'Helvetica Neue', sans-serif;
}
.maniue{
    width: 270px;
    height: auto;
}
.maniue a {
    font-size: 35px;
    color: #3A685B;
    text-decoration: none;
    text-transform: uppercase;
}

.popover {
    display: none;
}

.popover:target {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 0;
    height: 0;
    color: #fff;
    background: linear-gradient(283.61deg, #2B3D38 3.27%, #3A685B 99.25%);
    -webkit-animation: 1s grow ease forwards;
    animation: 1s grow ease forwards;
    text-align: center;
    box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
}

.nav_list  {
    list-style-type: none;
}

.nav_list a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
}

.nav_list_item {
    height: 100%;
    overflow: hidden;
}

.nav_list li {
    padding: 15px 0;
    text-transform: uppercase;
    transform: translateY(200px);
    opacity: 0;
    -webkit-animation: 2s slideUp ease forwards .5s;
    animation: 2s slideUp ease forwards .5s;
    position: relative;
}

.nav_list li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
    padding: 50px;
    opacity: 0;
    -webkit-animation: 1s fadeIn ease forwards 1s;
    animation: 1s fadeIn ease forwards 1s;
}

.popover .close::after {
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #B55038;
    color: #fff;
    content: "×";
    cursor: pointer;
    opacity: 0;
    -webkit-animation: 1s fadeIn ease forwards .1s;
    animation: 1s fadeIn ease forwards .1s;
}
.popover .close1::after {
    right: 0;
    top: 0;
    width: 100%;
    height: 2000px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: transparent;
    content: "×";
    cursor: pointer;
    opacity: 0;
    -webkit-animation: 1s fadeIn ease forwards .1s;
    animation: 1s fadeIn ease forwards .1s;
}
.facebook{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15.1px;
}
.soc{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
@-webkit-keyframes grow {
    100% {
        height: 90%;
        width: 90%;
    }
}
@keyframes grow {
    100% {
        height: 90%;
        width: 90%;
    }
}

@-webkit-keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #3A685B;
    margin-bottom: 25px;
    margin-top: 25px;
}
.logotip1{
    height: 30px;
    display: flex;
}
.icon01{
    width: 40px;
    height: 40px;
}
.icon1{
    width: 40px;
    height: 40px;
}
.margin{
    margin-right: 40px;
}
.icon2{
    width: 40px;
    height: 40px;
}
.icon3{
    width: 40px;
    height: 40px;
}
.icons{
    display: flex;
}

